<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active"  href="{% url 'cop2' %}">Cop2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="{% url 'copa' %}">Copa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link "  href="{% url 'call' %}">Call</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="{% url 'maya' %}">Maya</a>
  </li>
   <li class="nav-item">
    <a class="nav-link"  href="{% url 'lonq' %}">Lonq</a>
  </li>
   <li class="nav-item">
    <a class="nav-link"  href="{% url 'manz' %}">Manz</a>
  </li>
   <li class="nav-item">
    <a class="nav-link"  href="{% url 'tol1' %}">Tol1</a>
  </li>
</ul>